.Icons Icon {
    /*
  width:2em;
  height:2em;*/
 align-items:flex-start;
  justify-content: space-around;  
}
.Icons div {
  display:flex;
 
  /*
  border:1px solid;
  padding:2px;*/
  background-color:grey;
}